{% extends "base.html" %}
{% block title %}Top Podcasts{% endblock %}
{% block content %}
<div class="wrapper" style="display:flex; flex-flow:column; height:100%">
   <!--Background-->
   <div class="container-fluid bottom-of-page" style="background:linear-gradient(-400deg, rgba(23, 194, 237, 0.7), rgba(109, 43, 216, 0.7)); flex: 1 1 auto; padding:110px;">
      <!--White container-->
      <div class="container" align="center" style="background-color:white; padding:50px; width:80%; border-radius:10px; font-family:'Courier New'">
         <!--Title & location bar-->
         <h2><strong>Top Podcasts</strong></h2>
         <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/toppodcasts">Top Podcasts</a></li>
         </ul>

         <!--Lists the top-50 podcasts-->
         <div class="top-podcasts" style="text-align:left;">
            {% for podcast in top_podcasts %}
               <img src="{{ podcast.logo_url }}" alt="" class="pod_img" style="width:60px; height:60px; float:left;">
               <a href="{{ podcast.website }}" style="color:black;"><h6>{{ podcast.title }}<small style="font-size:11px; opacity:0.7;"> - {{ podcast.subscribers }} subcribers</small></h6></a>
               <p style="font-size:11px;">{{ podcast.description }}</p>
               <hr>
            {% endfor %}
         </div>

      </div>
   </div>
</div>
{% endblock %}
